<body>
<div class="caixa-principal">
  <h1>cadastro de competências</h1>
  <div *ngFor="let c of listaCompetencias; let i=index">
    <label>
      <input type="checkbox" [value]="c.value">
      {{c.nome}}
    </label>
  </div>
  <p><input type="text" name="cpf" placeholder="CPF" [(ngModel)]="cpf"></p>
  <p><input type="text" name="nomeCompetencia" placeholder="Competência" [(ngModel)]="nome"></p>
  <nav>
    <button class="button" type="submit" routerLink="/candidato" (click)="onSubmit()">Salvar</button>
  </nav>
</div>
</body>
<router-outlet></router-outlet>
