<body>
<div class="caixa-principal">
  <h1>cadastro de vaga</h1>
  <form (ngSubmit)="onSubmit()" #cadastroEmpresa="ngForm">
    <div class="form-group">
      <p><input type="text" name="nome" placeholder="Nome" [(ngModel)]="nome"></p>
      <p><input type="text" name="estado" placeholder="Estado" [(ngModel)]="estado"></p>
      <p><input type="text" name="descricao" placeholder="Descrição" [(ngModel)]="descricao"></p>
      <p><input type="text" name="senha" placeholder="Competências" [(ngModel)]="competencias"></p>
      <p><input type="text" name="senha" placeholder="CNPJ" [(ngModel)]="cnpj"></p>
    </div>
  </form>
  <nav>
    <button class="button" type="submit" routerLink="/empresa" (click)="onSubmit()">Salvar</button>
  </nav>
</div>
</body>
<router-outlet></router-outlet>
